* {
    padding: 0px;
    margin: 0px;
}
/* muda o corpo da pagina */
#layout{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/R.png);
    background-size:100%;
    background-repeat: no-repeat;
	height: 100px;
}
/* cria uma borda em volta dos elementos da pagina. */
form{ 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    top: 220px;
    padding: 70px;
    width: 600px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(105, 105, 105); 
    background-color: rgba(255, 255, 255);
}
#tipoMusica{
    width: 500px;
    cursor: pointer;
}
/* muda a cor do botão e como o cursor interagi. */
#btn {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 10px;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
}


